<div th:fragment="searchEngine">
    <div class="row justify-content-center">
        <form th:action="@{/projects}" th:object="${filter}" class="col-10 mt-3">
            <div class="row">
                <div class="col">
                    <input class="form-control" th:field="*{name}" th:placeholder="#{projects.name}">
                </div>
                <div class="col">
                    <input th:field="*{globalSearch}"
                           class="form-control"
                           th:placeholder="#{common.search.global}">
                </div>
                <div class="col">
                    <select th:field="*{creator}"
                            class="form-control">
                        <option th:value="${null}" th:text="#{projects.creator}"></option>
                        <option th:each="c : ${creators}"
                                th:value="${c.getId()}"
                                th:text="${c.getUserRealName()}"></option>
                    </select>
                </div>
                <div class="col">
                    <button type="submit" th:text="#{common.search}" class="btn bg-btn-red"></button>
                    <a class="btn bg-btn-red" th:href="@{/projects}" th:text="#{common.clear}"></a>
                </div>
            </div>
        </form>
    </div>
</div>