:root {
    --cream-color: #FCFEFB;
    --honeysuckle-color: #D85A60;
    --navyblue-color: #133F50;
    --bluegrotto-color: #41A5C0;
    --gray-color: #c8c8c8;
}

body {
    background-color: var(--gray-color);
    color: var(--cream-color);
    font-size: 18px;
}

.bg-nav {
    background-color: var(--navyblue-color);
}

.color-nav {
    color: var(--cream-color);
}

.color-nav:hover, .color-dark-nav:hover {
    color: var(--bluegrotto-color);
}

.color-dark-nav {
    color: var(--navyblue-color);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background: var(--navyblue-color);
    color: var(--cream-color);
}

footer:hover {
    color: var(--bluegrotto-color);
}

.bg-content {
    background-color: var(--bluegrotto-color);
}

.bug-parent {
    overflow: hidden;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.bug-child {
    background:var(--navyblue-color);
    height: 100%;
    width: 34%;
    position: absolute;
    right: 0;
    top: 0;
}

.bug-size-home {
    font-size: 20rem;
}

.bug-size-error {
    font-size: 10rem;
}

.bug-size-login {
    font-size: 12rem;
}

.bug-size-login-info {
    font-size: 14rem;
}

.bi-bug {
    color: var(--honeysuckle-color);
}

.bi-person-check-edit {
    color: var(--navyblue-color);
    font-size: 2rem;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: var(--navyblue-color);
    cursor: pointer;
}

.font-honeysuckle {
    color: var(--honeysuckle-color);
}

.font-navyblue {
    color: var(--navyblue-color);
}

.font-bluegrotto {
    color: var(--bluegrotto-color);
}

.hover-bluegrotto:hover {
    color: var(--bluegrotto-color);
}

.hover-honeysuckle:hover {
    color: var(--honeysuckle-color);
}

.bg-btn-dark {
    color: var(--cream-color);
    background-color: var(--navyblue-color);
}

.bg-btn-dark:hover {
    color: var(--bluegrotto-color);
    background-color: var(--navyblue-color);
}

.bg-btn-red {
    color: var(--cream-color);
    background-color: var(--honeysuckle-color);
}

.bg-btn-red:hover {
    color: var(--navyblue-color);
    background-color: var(--honeysuckle-color);
}

.btn-width-8 {
    width: 8rem;
}

.btn-width-10 {
    width: 10rem;
}

.bold {
    font-weight: bold;
}

.font-larger {
    font-size: 1.5rem;
}

.style-none {
    list-style-type:none;
}
