<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity65">
<head>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav">
        <div class="container-fluid">
            <a th:href="@{/home}" class="navbar-brand color-nav">
                <i class="bi bi-bug"></i> Bugtracker
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a th:href="@{/home}" th:text="#{home.home}" class="nav-link color-nav" aria-current="page"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a th:href="@{/projects}" th:text="#{home.projects}" class="nav-link color-nav"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a th:href="@{/issues}" th:text="#{home.issues}" class="nav-link color-nav"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a th:href="@{/my-profile}" th:text="#{home.myPage}" class="nav-link color-nav"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a th:href="@{/users}" sec:authorize="isAuthenticated()" th:text="#{home.users}" class="nav-link dropdown-toggle color-nav"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        </a>
                        <ul class="dropdown-menu ">
                            <li><a th:href="@{/users}" th:text="#{home.list}" class="dropdown-item color-dark-nav"></a></li>
                            <li><a th:href="@{/users/new}" th:text="#{home.addUser}" class="dropdown-item color-dark-nav"></a></li>
                            <li><a th:href="@{/users/authorities}" th:text="#{home.grantPermissions}" class="dropdown-item color-dark-nav"></a></li>
                        </ul>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a th:href="@{/login}" th:text="#{home.login}" class="nav-link color-nav"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a th:href="@{/logout}" th:text="#{home.logout}" class="nav-link color-nav"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>