<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity65">
<head>
</head>
<body>
<nav>
    <div class="row">
        <a th:href="@{/my-profile/{login}(login=${user.getLogin()})}" th:text="#{user.profile.data}"
           class="link color-nav col bg-light m-2 rounded"></a>
        <a th:href="@{/my-profile/projects/{id}(id=${user.getId()})}" th:text="#{user.profile.projects}"
           class="link color-nav col bg-light m-2 rounded"></a>
        <a th:href="@{/my-profile/issues/{id}(id=${user.getId()})}" th:text="#{user.profile.issues}"
           class="link color-nav col bg-light m-2 me-3 rounded"></a>
    </div>
</nav>
</body>
</html>