<!DOCTYPE html>

<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bugtracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-10">
            <h1 class="mt-3 mb-5 text-center font-honeysuckle bold" th:text="#{issue.new.title}"></h1>
            <div class="row justify-content-center">
                <div class="col">
                    <ul class="style-none">
                        <li class="alert alert-danger" role="alert"
                            th:each="error : ${#fields.errors('issue.*')}" th:text="${error}" />
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10">
                    <form th:action="@{/issues/{projectId}(projectId=${projectId})}" method="post" th:object="${issue}">
                        <div class="form-group  mt-2">
                            <label for="issueName" th:text="#{issue.new.name}" class="font-navyblue"></label>
                            <input type="text" class="form-control" id="issueName" th:field="*{name}">
                        </div>
                        <div class="form-group mt-2">
                            <label for="issueCode" th:text="#{issue.new.code}" class="font-navyblue"></label>
                            <input type="text" class="form-control" id="issueCode" th:field="*{code}">
                        </div>
                        <div class="form-group  mt-2">
                            <label for="issueDescription" th:text="#{issue.new.description}"
                                   class="font-navyblue"></label>
                            <textarea class="form-control" id="issueDescription" rows="3" th:field="*{description}">
                                      </textarea>
                        </div>
                        <div class="form-group d-flex align-items-center mt-2">
                            <div class="form-check m-2">
                                <input th:field="*{priority}" value="MINOR" class="form-check-input"
                                       type="radio" name="minorOption" id="minorOption">
                                <label class="form-check-label font-navyblue" for="minorOption">
                                    MINOR
                                </label>
                            </div>
                            <div class="form-check m-2">
                                <input th:field="*{priority}" value="NORMAL" class="form-check-input"
                                       type="radio" name="normalOption" id="normalOption">
                                <label class="form-check-label font-navyblue" for="normalOption">
                                    NORMAL
                                </label>
                            </div>
                            <div class="form-check m-2">
                                <input th:field="*{priority}" value="MAJOR" class="form-check-input"
                                       type="radio" name="majorOption" id="majorOption" >
                                <label class="form-check-label font-navyblue" for="majorOption">
                                    MAJOR
                                </label>
                            </div>
                            <div class="form-check m-2">
                                <input th:field="*{priority}" value="CRITICAL" class="form-check-input"
                                       type="radio" name="criticalOption" id="criticalOption" >
                                <label class="form-check-label font-navyblue" for="criticalOption">
                                    CRITICAL
                                </label>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center mt-2">
                            <div class="form-check m-2">
                                <input th:field="*{status}" value="TODO" class="form-check-input"
                                       type="radio" name="todoOption" id="todoOption">
                                <label class="form-check-label font-navyblue" for="todoOption">
                                    TO DO
                                </label>
                            </div>
                            <div class="form-check m-2">
                                <input th:field="*{status}" value="IN_PROGRESS" class="form-check-input"
                                       type="radio" name="inProgressOption" id="inProgressOption">
                                <label class="form-check-label font-navyblue" for="inProgressOption">
                                    IN PROGRESS
                                </label>
                            </div>
                            <div class="form-check m-2">
                                <input th:field="*{status}" value="DONE" class="form-check-input"
                                       type="radio" name="doneOption" id="doneOption" >
                                <label class="form-check-label font-navyblue" for="doneOption">
                                    DONE
                                </label>
                            </div>
                            <div class="form-check m-2">
                                <input th:field="*{status}" value="BLOCKED" class="form-check-input"
                                       type="radio" name="blockedOption" id="blockedOption" >
                                <label class="form-check-label font-navyblue" for="blockedOption">
                                    BLOCKED
                                </label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text ms-1 rounded col-3">
                                <input class="form-check-input mt-0" type="checkbox" name="tags" id="bugCheckbox"
                                        value="BUG" th:field="*{tags}">
                                <label class="form-check-label ms-1" for="bugCheckbox"
                                       th:text="#{issue.tag.bug}">
                                </label>
                            </div>
                            <div class="input-group-text ms-1 rounded col-3">
                                <input class="form-check-input mt-0" type="checkbox" name="tags"
                                       id="documentationCheckbox" value="DOCUMENTATION" th:field="*{tags}">
                                <label class="form-check-label ms-1" for="documentationCheckbox"
                                       th:text="#{issue.tag.documentation}">
                                </label>
                            </div>
                            <div class="input-group-text ms-1 rounded col-3">
                                <input class="form-check-input mt-0" type="checkbox" name="tags"
                                       id="duplicateCheckbox" value="DUPLICATE" th:field="*{tags}">
                                <label class="form-check-label ms-1" for="duplicateCheckbox"
                                       th:text="#{issue.tag.duplicate}">
                                </label>
                            </div>
                            <div class="input-group-text ms-1 rounded col-3">
                                <input class="form-check-input mt-0" type="checkbox" name="tags"
                                       id="enhancementCheckbox" value="ENHANCEMENT" th:field="*{tags}">
                                <label class="form-check-label ms-1" for="enhancementCheckbox"
                                       th:text="#{issue.tag.enhancement}">
                                </label>
                            </div>
                            <div class="input-group-text ms-1 rounded col-3">
                                <input class="form-check-input mt-0" type="checkbox" name="tags"
                                       id="helpWantedCheckbox" value="HELP_WANTED" th:field="*{tags}">
                                <label class="form-check-label ms-1" for="helpWantedCheckbox"
                                       th:text="#{issue.tag.helpWanted}">
                                </label>
                            </div>
                            <div class="input-group-text ms-1 rounded col-3">
                                <input class="form-check-input mt-0" type="checkbox" name="tags"
                                       id="invalidCheckbox" value="INVALID" th:field="*{tags}">
                                <label class="form-check-label ms-1" for="invalidCheckbox"
                                       th:text="#{issue.tag.invalid}">
                                </label>
                            </div>
                            <div class="input-group-text ms-1 rounded col-3">
                                <input class="form-check-input mt-0" type="checkbox" name="tags"
                                       id="questionCheckbox" value="QUESTION" th:field="*{tags}">
                                <label class="form-check-label ms-1" for="questionCheckbox"
                                       th:text="#{issue.tag.question}">
                                </label>
                            </div>
                            <div class="input-group-text ms-1 rounded col-3">
                                <input class="form-check-input mt-0" type="checkbox" name="tags"
                                       id="wontfixCheckbox" value="WONTFIX" th:field="*{tags}">
                                <label class="form-check-label ms-1" for="wontfixCheckbox"
                                       th:text="#{issue.tag.wontfix}">
                                </label>
                            </div>
                        </div>
                        <select th:field="*{type}" class="form-select" aria-label="issueType">
                            <option value="TASK" selected>Task</option>
                            <option value="BUG">Bug</option>
                            <option value="PERFORMANCE_ISSUE">Performance issue</option>
                            <option value="FEATURE">Feature</option>
                        </select>
                        <div class="row mt-4">
                            <div class="col d-flex justify-content-end align-items-end">
                                <button type="submit" class="btn btn-lg bg-btn-dark mb-5" th:text="#{issue.new.button}"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>