<!DOCTYPE html>

<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity65">
<head>
    <th:block th:insert="~{/general.html :: headerfiles}">
    </th:block>
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-10 mb-5 pb-5">
            <h2 class="mt-3 text-center font-honeysuckle bold" th:text="${issue.getName()}"></h2>
            <input type="hidden" id="issue-id" th:value="${issue.getId()}">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="card mt-2 font-navyblue">
                        <div class="card-header ">
                            <div class="d-flex justify-content-between mt-2">
                                <small>
                                    <span class="text-muted" th:text="#{issue.code}"></span>
                                    <span th:text="${issue.getId()}"></span>
                                </small>
                                <small>
                                    <span class="text-muted" th:text="#{issue.single.date.created}"></span>
                                    <span th:text="${#dates.format(issue.getCreatedDate(), 'dd.MM.yyyy')}"></span>
                                </small>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <small>
                                    <span class="text-muted" th:text="#{issue.single.creator}">Kod: </span>
                                    <span th:text="${issue.getCreator().getUserRealName()}"></span>
                                </small>
                                <small>
                                    <span class="text-muted" th:text="#{issue.single.date.updated}"></span>
                                    <span th:if="${issue.getLastModifiedDate()} == null"  th:text="#{issue.single.date.updated.none}"></span>
                                    <span th:unless="${issue.getLastModifiedDate()} == null"  th:text="${#dates.format(issue.getLastModifiedDate(), 'dd.MM.yyyy')}"></span>
                                </small>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div class="d-flex">
                                    <small class= "me-2">
                                        <span th:text="#{issue.single.assignee} + ': '" class="col text-muted"></span>
                                    </small>
                                    <div>
                                        <div th:if="${issue.getAssignee()} == null" class="link hover-bluegrotto">
                                            <small>
                                                <a data-bs-toggle="modal" data-bs-target="#newAssignee"
                                                   class="link hover-bluegrotto font-smaller">
                                                    <span th:text="#{issue.single.add.assignee}"></span>
                                                    <i class="bi bi-person-add"></i>
                                                </a>
                                            </small>
                                        </div>
                                        <div th:unless="${issue.getAssignee()} == null" class="link hover-bluegrotto">
                                            <small>
                                                <a th:href="@{deleteAssignee(issueId=${issue.getId()})}"
                                                   class="link hover-honeysuckle">
                                                    <span th:text="${issue.getAssignee().getUserRealName()}"></span>
                                                    <i class="bi bi-person-dash"></i>
                                                </a>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <small class= "me-2">
                                        <span th:text="#{issue.single.project} + ': '" class="col text-muted"></span>
                                        <a th:href="@{/projects/{id}(id=${issue.getProject().getId()})}"
                                           class="link hover-honeysuckle">
                                            <span th:text="${issue.getProject().getName()}"></span>
                                        </a>
                                    </small>
                                </div>
                            </div>

                            <div>
                                <div class="modal fade" id="newAssignee" tabindex="-1" role="dialog"
                                     aria-labelledby="newAssignee">
                                    <div class="modal-dialog">
                                        <div class="modal-content font-navyblue">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="newAssigneeLabel"
                                                    th:text="#{assignee.label}"></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <form th:action="@{newAssignee(issueId=${issue.getId()})}" method="post"
                                                  th:object="${assignee}">
                                                <div class="modal-body">
                                                    <div class="col">
                                                        <select th:field="*{id}" id="assignee" class="form-control">
                                                            <option th:value="${null}"
                                                                    th:text="#{issue.single.select.user}"></option>
                                                            <option th:each="user : ${users}"
                                                                    th:value="${user.getId()}"
                                                                    th:text="${user.getUserRealName()}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="row mt-4">
                                                        <div class="col d-flex justify-content-end align-items-end">
                                                            <button type="submit" class="btn bg-btn-dark mb-5"
                                                                    th:text="#{issue.edit.button}"></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <span class="text-muted" th:text="#{issue.single.description}"></span>
                            <p class="card-text" th:text="${issue.getDescription()}"></p>
                        </div>
                        <div class="card-footer d-flex justify-content-evenly">
                            <div id="base-priority">
                                <div th:replace="~{issues/component/priority.html :: priority}"></div>
                            </div>
                            <div id="base-status">
                                <div th:replace="~{issues/component/status.html :: status}"></div>
                            </div>
                            <div id="base-type">
                                <div th:replace="~{issues/component/type.html :: type}"></div>
                            </div>
                            <small>
                                <span class="text-muted" th:text="#{issue.single.tags}"></span>
                                <span th:text="${issue.getTags()}"></span>
                            </small>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a class="link font-honeysuckle hover-bluegrotto"
                           th:href="@{'/issues/history/' + ${issue.getId()}}" th:text="#{common.history}"></a>
                    </div>
                </div>
            </div>
            <div th:replace="~{issues/component/comments.html :: comments}"></div>
        </div>
    </div>
    <div class="row justify-content-end mb-5">
        <div class="col-4 mb-5">
            <a th:href="@{/issues/edit/{id}(id=${issue.getId()})}" class="btn bg-btn-dark btn-width-8 m-2"
               th:text="#{issue.single.edit.button}"></a>
            <a th:href="@{/issues/delete/{id}(id=${issue.getId()})}" class="btn bg-btn-red btn-width-8 m-2"
               th:text="#{issue.single.delete.button}"></a>
        </div>
    </div>
</div>

</div>
<div th:replace="~{footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>